.TodoList{}
.TodoList__todo{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.TodoList__todo_text{
    margin-left: 20px;
}
.TodoList__todo_buttons{
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.TodoList__todo_buttonPriority,
.TodoList__todo_buttonDone,
.TodoList__todo_buttonDelete{
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 28px;
}
.TodoList__todo_buttonDone{
    background-color: green;
}
.TodoList__todo_buttonPriority{
    background-color: goldenrod;
}
.TodoList__todo_buttonDelete{
    background-color: red;
}
