.Todo{
    width: 100%;
}
.TodoDone{
    width: 100%;
    background-color: greenyellow;
}
.Todo__label{
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.Todo__label_input{
    height: 50px;
    font-size: 36px;
}
.Todo__label_button{
    height: 50px;
    border-radius: 10px;
    background-color: teal;
    border: 4px solid green;
    font-size: 36px;
    font-weight: bold;
    color: greenyellow;
}