.Field{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 800px;
    min-height: 800px;
    background-color: burlywood;
}
.Field__item_black{
    border: 1px solid black;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color:black;
    color: white;
}
.Field__item_white{
    border: 1px solid black;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color:white;
    color: black;
}
.Field__item_column{}